/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container_dash {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation_dash {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigation_dash.active {
  width: 80px;
}

.navigation_dash ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation_dash ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation_dash ul li:hover,
.navigation_dash ul li.hovered {
  background-color: var(--white);
}

.navigation_dash ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation_dash ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation_dash ul li:hover a,
.navigation_dash ul li.hovered a {
  color: var(--blue);
}

.navigation_dash ul li a .icon_dash {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation_dash ul li a .icon_dash ion-icon {
  font-size: 1.75rem;
}

.navigation_dash ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation_dash ul li:hover a::before,
.navigation_dash ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation_dash ul li:hover a::after,
.navigation_dash ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== Main ===================== */
.main_dash {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main_dash.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar_dash {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle_dash {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.search_dash {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search_dash label {
  position: relative;
  width: 100%;
}

.search_dash label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.search_dash label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2rem;
}

.user_dash {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user_dash img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ======================= Cards ====================== */
.cardBox_dash {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cardBox_dash .card_dash {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox_dash .card_dash .numbers_dash {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);
}

.cardBox_dash .card_dash .cardName_dash {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox_dash .card_dash .iconBx_dash {
  font-size: 3.5rem;
  color: var(--black2);
}

.cardBox_dash .card_dash:hover {
  background: var(--blue);
}
.cardBox_dash .card_dash:hover .numbers_dash,
.cardBox_dash .card_dash:hover .cardName_dash,
.cardBox_dash .card_dash:hover .iconBx_dash {
  color: var(--white);
}

/* ================== Order Details List ============== */
.details_dash {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  /* grid-template-columns: 2fr 1fr; */
  /* grid-template-columns: 3fr 1fr; */
  grid-template-columns: 4fr 1fr;
  grid-gap: 30px;
  /* margin-top: 10px; */
}

.details_dashV2 {
  position: relative;
  width: 100%;
  padding: 20px;
  /* display: grid; */
  /* grid-template-columns: 2fr 1fr; */
  /* grid-template-columns: 3fr 1fr; */
  grid-template-columns: 4fr 1fr;
  grid-gap: 30px;
  /* margin-top: 10px; */
}

.details_dash .recentOrders_dash,
.details_dashV2 .recentOrders_dash {
  position: relative;
  display: grid;
  min-height: 500px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details_dash .cardHeader_dash,
.details_dashV2 .cardHeader_dash {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader_dash h2 {
  font-weight: 600;
  color: var(--blue);
}
.cardHeader_dash .btn_dash {
  position: relative;
  padding: 5px 10px;
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

.details_dash table,
.details_dashV2 table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  overflow: scroll;
  display: block;
}
.details_dash table thead td,
.details_dashV2 table thead td {
  font-weight: 600;
}
.details_dash .recentOrders_dash table tr,
.details_dashV2 .recentOrders_dash table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details_dash .recentOrders_dash table tr:last-child,
.details_dashV2 .recentOrders_dash table tr:last-child {
  border-bottom: none;
}
.details_dash .recentOrders_dash table tbody tr:hover,
.details_dashV2 .recentOrders_dash table tbody tr:hover {
  background: var(--blue);
  color: var(--white);
}
.details_dash .recentOrders_dash table tr td,
.details_dashV2 .recentOrders_dash table tr td {
  padding: 10px;
}
.details_dash .recentOrders_dash table tr td:last-child,
.details_dashV2 .recentOrders_dash table tr td:last-child {
  text-align: end;
}
.details_dash .recentOrders_dash table tr td:nth-child(2),
.details_dashV2 .recentOrders_dash table tr td:nth-child(2) {
  text-align: end;
}
.details_dash .recentOrders_dash table tr td:nth-child(3),
.details_dashV2 .recentOrders_dash table tr td:nth-child(3) {
  text-align: center;
}
.status_dash.delivered {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status_dash.pending {
  padding: 2px 4px;
  background: #e9b10a;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status_dash.return {
  padding: 2px 4px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status_dash.inProgress {
  padding: 2px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.recentCustomers_dash,
.recentCustomers_dash_V2 {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
/* .recentCustomers_dash .imgBx_dash { */
.recentCustomers_dash .imgBx_dash,
.recentCustomers_dash_V2 .imgBx_dash {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}
.recentCustomers_dash .imgBx_dash img,
.recentCustomers_dash_V2 .imgBx_dash img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recentCustomers_dash table tr td,
.recentCustomers_dash_V2 table tr td {
  padding: 12px 10px;
}
.recentCustomers_dash table tr td h4,
.recentCustomers_dash_V2 table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2rem;
}
.recentCustomers_dash table tr td h4 span,
.recentCustomers_dash_V2 table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}
.recentCustomers_dash table tr:hover {
  background: var(--blue);
  color: var(--white);
}

.recentCustomers_dash_V2 table tr:hover {
  background: var(--gray);
  color: var(--black1);


    /* --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999; */
}
.recentCustomers_dash table tr:hover td h4 span,
.recentCustomers_dash_V2 table tr:hover td h4 span {
  color: var(--white);
}

/*  */
.icon_search {
    position: absolute;
    top: 28%;
    left: 10px;
    font-size: 1.2rem;
    color: var(--black2);
}

/* Apply same style as hovered when active */
.navigation_dash ul li.activeNavigation_dash,
.navigation_dash ul li.activeNavigation_dash a {
  background-color: var(--white);
  color: var(--blue);
  border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation_dash ul li.activeNavigation_dash a .title,
.navigation_dash ul li.activeNavigation_dash a .icon_dash {
  color: var(--blue);
}


.navigation_dash ul li.activeNavigation_dash a::before,
.navigation_dash ul li.activeNavigation_dash a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation_dash ul li.activeNavigation_dash a::after,
.navigation_dash ul li.activeNavigation_dash a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}


/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation_dash {
    left: -300px;
  }
  .navigation_dash.active {
    width: 300px;
    left: 0;
  }
  .main_dash {
    width: 100%;
    left: 0;
  }
  .main_dash.active {
    left: 300px;
  }
  .cardBox_dash {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* @media (max-width: 768px) { */
@media (max-width: 1270px) {
  .details_dash,
  .details_dashV2 {
    grid-template-columns: 1fr;
  }
  .recentOrders_dash {
    overflow-x: auto;
  }
  .status_dash.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox_dash {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader_dash h2 {
    font-size: 20px;
  }
  .user_dash {
    min-width: 40px;
  }
  .navigation_dash {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation_dash.active {
    width: 100%;
    left: 0;
  }
  .toggle_dash {
    z-index: 10001;
  }
  .main_dash.active .toggle_dash {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}
